:root{
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --second-text-color: #ffffff;
 --background-button-color: #2196F3;
 --primary-background-color: #FFF;
 --backgroun-team-color: #F5F4FA;
 --logo-color: #000;
 --secondary-background-color: #2f303A;
}
body{
    padding: 0 215px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
   }

   span{
    color: #2196F3;
   }

   /*header*/
   .logo{
    color: var(--logo-color);
   }

   .blue{
    color: var(--background-button-color);
   }

.site{
    color: var(--title-text-color);
}

.site-nav{
    height: 80px;
    width: 1600px;
}

/*post*/
.post{
    background-color: var(--secondary-background-color);
    height: 600px;
    width: 1600px;
    text-align: center;
    
}
.post-title{
    color: var(--second-text-color);
}
.post-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
}

/*benefits*/
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
}

.benefits-text{
    font-size: 14px;
}

.page-footer{
    background-color: var(--secondary-background-color);
    height: 252px;
    width: 1600px;
    text-align: center;
    white-space: 80px;
}

span{
    color: var(--second-text-color);
}

.web{
    color: var(--background-button-color);
}

.adress-text{
    color: var(--second-text-color);
}

.email{
    color: var(--primary-background-color);
}

.phone-number{
    color: var(--primary-background-color);
}

.section-title{
    color: #212121;
    
}

.benefits-list{
    list-style-type: none;
}

.team-list{
    list-style-type: none;
}

.site-list{
    list-style-type: none;
}

.contacts-list{
    list-style-type: none;
}

.team-name{
    color: #212121;
}

.team-position{
    color: #757575;
}

.email{
    color: #757575;
}

.phone-number{
    color: #757575;
}

.web1{
    color: #2196F3;
}



    
   