:root{
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --second-text-color: #ffffff;
 --background-button-color: #2196F3;
 --primary-background-color: #FFF;
 --backgroun-team-color: #F5F4FA;
 --logo-color: #000;
 --secondary-background-color: #2f303A;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
margin-bottom: 0;
margin-top: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--title-text-color);
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid var(--primary-text-color);
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list-item:not(:last-child){
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
}

.activity-list{
    margin-bottom: 86px;
}

team

img{
    display: block;
}


body{
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   }

   span{
    color: #2196F3;
   }

   /*header*/
   .logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0,78px;
    text-decoration: none;

   }

   .blue{
    color: var(--background-button-color);
   }

.site{
    color: var(--title-text-color);
}

.site-nav{

}

.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    margin-left: 93px;
    
}

.site-list:hover{
    color: var(--background-button-color);
}

.site-link{
    text-decoration: none;
    color: var(--title-text-color);
    position: relative;
}

.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}

/*post*/
.post{
    background-color: var(--secondary-background-color);
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(/images/imgoverlay.png);
       background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.post-title{
    display: flex;
    color: var(--second-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 2.54px;
    margin-bottom: 30px;
}
.post-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.80px;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}

.team-list{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    list-style: none;
    text-align: center;
    display: flex;
}

.team-position{
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 30px;
}

.team{

    color: var(--backgroun-team-color);
    padding-top: 0px;
    padding-bottom: 94px;
}

.team-card:not(:last-child){
    margin-right: 30px;
}

.team-card{
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.card{
    width: 270px;
}

/*benefits*/


.benefits-text{
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-family: 'Roboto', sans-serif;
}



.page-footer{
    padding-top: 60px;
    background-color: var(--secondary-background-color);
    white-space: 80px;
    padding-bottom: 60px;
}



span{
    color: var(--second-text-color);
}

.web{
    color: var(--background-button-color);
}

.adress-text{
    color: var(--second-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}

.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--backgroun-team-color);
}

.footer-content{
    padding: 9px;
}

.footer-added{
    margin-top: 20px;
}

.phone-number,
.email{
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}


.section-title{
    color: #212121;
    margin-top: 222px;
    
}

.benefits-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

.benefits-block{
width: 270px;
height: 120px;
}



.benefits-block::before{
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: #FFF;
    background-image: url(../images/antennas.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.benefits-block:nth-child(2)::before{
    background-image: url(../images/clocks.png);
}

.benefits-block:nth-child(3)::before{
    background-image: url(../images/diagrams.png);
}

.benefits-block:nth-child(4)::before{
    background-image: url(../images/astronauts.png);
}

.benefits-block:not(:last-child){
    margin-right: 30px;
}

.benefits{
    margin-top: 94px;
}

.benefits-name{
    color: var(--title-text-color);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-bottom: 10px;
}

.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
}

.contacts-list{
    padding-left: 344px;
    list-style-type: none;
    display: flex;
}

.site-link.current::after{
    content: '';
    display: block;
    background-color: var(--background-button-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -26px; 
 }

.team-name{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #212121;
}



.email{
    color: var(--background-button-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}

.phone-number{
    color: #757575;
    margin-right: 50px;
}

.web1{
    color: #2196F3;
}

li{
    list-style: none;
}


.button-portfolio{
    padding: 6px 22px;
    height: 38px;
    border-radius: 4px;
    border: none;
    background-color: #F5F4FA;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    /* margin-left: 8px; */
}

.button-link:hover,
.button-link:focus{
    background-color: var(--background-button-color);
    color: #ffffff;
}

.portfolio{
    padding-bottom: 94px;
}

.porfolio-img{
    width: 370px;
    height: 294px;
}

.ul-portfolio{
    gap: 9px;
    padding-top: 94px;
    padding-bottom: 56px;
   display: flex;
   justify-content: center;
}

.li-portfolio{
    /* margin-right: 14px; */
}



.post{
    text-align: center;
}

.project-list-information{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    width: 370px;

}

.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}   


.contacts-list .site-number:hover{
color: #2196F3;
}

.icon-phone{
    margin-right: 20px;
    fill: gray;
}

.site-number:hover,
.icon-phone:hover{
    fill: #2196F3;
}

.icon-phone:hover{
    fill: #2196F3;
}





.social-list{
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    
}

.social-list-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-icon{
    width: 20px;
    height: 20px;
}

.social-list-link:hover .social-list-icon{
    fill: #ffffff;
}



.social-list-link:hover,
.social-list-link:focus{
background-color: #2196F3;

}


.social-list-item:hover .social-list-link{
    fill: white;
}
    




.clients-list{
    display: flex;
    margin-left: -30px;
    margin-bottom: 94px;
}

.clients-item{
    margin-left: 30px;
}

.clients-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1BB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;    
}

.clients-icon{
    width: 106px;
    height: 60px;
    fill: #AFB1BB;
}

.clients-link:hover, 
.clients-link:focus{
    fill: #2196F3;
    border-color: #2196F3;
}


.pscl{
    margin-top: 94px;
    margin-bottom: 50px;
    color: #212121;
text-align: center;
font-family: 'Roboto';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.pry{
    color: #FFF;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-top: -150px;
margin-left: -250px;
}

.div-svg{
    display: flex;
    justify-content: center;   
}




.social-list-a{
    margin-top: -120px;
    margin-left: -120px;
    display: flex;
    justify-content: space-between;

}

.social-list-link-a{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-icon-a{
    width: 20px;
    height: 20px;
    fill: #EEE;
}

.social-list-link-a:hover .social-list-icon-a{
    fill: #EEE;
}

.social-list-link-a:hover,
.social-list-link-a:focus{
background-color: #2196F3;
}


.clients-list-a{
    display: flex;
    margin-left: -30px;
    margin-bottom: 94px;
}

.clients-item-a{
    margin-left: 30px;
}

.clients-link-a{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1BB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;    
}

.clients-icon-a{
    width: 106px;
    height: 60px;
    fill: #AFB1BB;
}

.clients-link-a:hover, 
.clients-link-a:focus{
    fill: #2196F3;
    border-color: #2196F3;
}

.social-list-item-a{
    height: 44px;
    width: 44px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
}

.p-dz{
    position: relative;
    bottom: 70px;
    color: var(--second-text-color);
    line-height: 68px;
    letter-spacing: 2.54px;
    background-color: var(--secondary-background-color);
       background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0.9;
}

.backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
        opacity: 0;
        visibility: hidden;  
        pointer-events: none; 
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px;
}

.modal-close-button{
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    top: 8px;
    left: 490px;
    /* box-sizing: border-box; */
    background-image: url(/images/....);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-title{
    color: #212121;
text-align: center;
font-family: 'Roboto';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
}

.social-list-link:hover .

.modal-icon{
    fill: var(--primary-background-color);
}

.modal-icon:hover,
.modal-icon:focus{
    fill: #2196F3;
}

.modal-form{
     padding-right: 40px;
     padding-left: 40px;
     padding-bottom: 40px;
}

.modal-form-field{
     position: relative;
     margin-bottom: 10px;
}

.modal-form-policy-text{
    color: #757575;
}

.post-button-a{
    display: flex;
    position: relative;
    top: 30px;
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}

.menu-item{
    position: relative;
    margin-bottom: 10000px;
}

.menu-link{
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 50px 20px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sub-menu{
    position: absolute;
    height: 100%;
    top: 0;
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: gray;
    transform: translateX(-120%);
    transition: transform 500ms ease-in-out;
}

.menu-item:hover .sub-menu{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.menu-link:hover{
    margin-left: -10000px;
}

.block-wrap{
    position: relative;
    overflow: hidden;
}

.div-vid{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: 'Roboto', sans-serif;
    color: var(--second-text-color);
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms linear;
    opacity: 0;
}

.block-link:hover .div-vid{
    transform: translateY(0);
    opacity: 1;
}




