:root{
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --second-text-color: #ffffff;
 --background-button-color: #2196F3;
 --primary-background-color: #FFF;
 --backgroun-team-color: #F5F4FA;
 --logo-color: #000;
 --secondary-background-color: #2f303A;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
margin-bottom: 0;
margin-top: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--title-text-color);
}

.header{
    padding-top: 17px;
    padding-bottom: 17px;
}

.haeder-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list-item:not(:last-child){
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
}

.activity-list{
    padding-bottom: 54px;
}

team

img{
    display: block;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body{
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   }

   span{
    color: #2196F3;
   }

   /*header*/
   .logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0,78px;
    text-decoration: none;

   }

   .blue{
    color: var(--background-button-color);
   }

.site{
    color: var(--title-text-color);
}

.site-nav{
    height: 80px;
    width: 1600px;
}

.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    
}

.site-list:hover{
    color: var(--background-button-color);
}

.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}

.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}

/*post*/
.post{
    background-color: var(--secondary-background-color);
    height: 600px;
    width: 1600px;
    text-align: center;
    
}
.post-title{
    color: var(--second-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 2.54px;
    text-align: center;
}
.post-button{
    color: var(--second-text-color);
    background: var(--background-button-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.80px;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.team-list{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    list-style: none;
    text-align: center;
    display: flex;
}

.team-position{
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.team{
    color: var(--backgroun-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-card:not(:last-child){
    margin-right: 30px;
}

.team-card{
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card{
    width: 270px;
}

/*benefits*/


.benefits-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-family: 'Roboto', sans-serif;
}



.page-footer{
    background-color: var(--secondary-background-color);
    height: 252px;
    width: 1600px;
    white-space: 80px;
}

.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--backgroun-team-color);
}

span{
    color: var(--second-text-color);
}

.web{
    color: var(--background-button-color);
}

.adress-text{
    color: var(--second-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}

.phone-number,
.email{
    color: var(--primary-text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    cursor: pointer;
    text-decoration: none;
}



.section-title{
    color: #212121;
    margin-top: 118px;
    
}

.benefits-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.benefits-block{
width: 270px;
}

.benefits-block:not(:last-child){
    margin-right: 30px;
}

.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    font-family: 'Roboto';
    text-transform: uppercase;
    padding-bottom: 10px;
}

.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;

}

.contacts-list{
    padding-left: 344px;
    list-style-type: none;
    display: flex;
    gap: 55px;
}

.team-name{
    color: #212121;
}



.email{
    color: var(--background-button-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}

.phone-number{
    color: #757575;
    margin-right: 50px;
}

.web1{
    color: #2196F3;
}

li{
    list-style: none;
}

.button-portfolio{
    border-radius: 4px;
    border: none;
    background-color: #F5F4FA;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-left: 8px;
}

.button-link:hover,
.button-link:focus{
    background-color: var(--background-button-color);
}

.porfolio-img{
    width: 370px;
    height: 294px;
}

.ul-portfolio{
    
    padding-top: 94px;
}

.benefits{
    margin-top: 94px;
}

.post{
    text-align: center;
}

.project-list-information{
    border: 1px solid var(--primary-background-color);
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}   