.line{
    width: 60px;
    height: 4px;
    background: #F38181;
}

a {
    color: #95E1D3;
}

.button {
   background: #95E1D3;
   border: none;
   padding: 12px 38px;
   color: white;
   cursor: pointer;
}

.input{
    color: #B6B6B6;
    padding: 14px 10px;
    width: 230px;
    height: 29px;
}

.text {
    font-weight: 400;
    font-size: 24px;
}

.title{
    font-weight: 700;
    font-size: 30px;
}